---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="BChat IA"
	description="Automatize com IA humanizada."
	pubDate={new Date('July 21 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
  <p>
        Bchat IA Soluções.
  </p>

  <p>
        Entre em contato com a Bolt 360 e descubra como podemos levar sua empresa ao próximo patamar!
  </p>
</Layout>